~~
~~ The Maven Screencasts
~~
~~ Copyright (c) 2012, 2013 by SoftwareEntwicklung Beratung Schulung (SoEBeS)
~~ Copyright (c) 2012, 2013 by Karl Heinz Marbaise
~~

  ------
  Episode 200
  ------
  Karl Heinz Marbaise
  ------
  04. Mai 2013
  ------

Episode Overview


 The often found problem is having a project which creates
 jar file. So far so good, but it comes out that someone
 needs a second jar which does not contain particular files
 of the project.

 So the question is how to solve such problem? At the
 first glance it might be a good idea to use a profile
 to solve this, but profiles having drawbacks in this
 relationship so better go into an other direction.


  []
#
